label {
	display: block;
	margin-bottom: 10px;
}
input {
	margin-bottom: 10px;
}

button {
	background: orange;
}

#arcade-maq {
	position: absolute;
}

#insira-mo {
	position: absolute;
	top: 370px;
	left: 800px;
	width: 180px;
	height: 90px;
}

#zoomer {
	position: absolute;
}
